html {
  user-select: none;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bangers', cursive;
  letter-spacing: 0.25em;
}

#start {
  position: fixed;
  z-index: 3;
  top: 20vh;
  color: rebeccapurple;
  left: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55vw;
}

h1 {
  font-size: 5vw;
  transform: rotate(-5deg);
}

.hide {
  display: none !important;
}

#instructions {
  width: 18vw;
  font-size: 2vw;
  color: purple;
}

#game-info {
  color: deeppink;
  position: fixed;
  top: 5vh;
  left: 4vw;
  width: 26vw;
  font-size: 1.7vw;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.1em;
}

#game-info > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vw;
  width: 14vw;
  border: transparent;
  background-color: transparent;
  outline: none;
}

#game-info > button > img {
  width: 5vw;
}

/* #game-info > button > span {
  font-family: "Bangers";
  color: deeppink;
  font-size: 2vw;
} */

#tries-container {
  display: flex;
  justify-content: space-between;
  width: 9vw;
}

#tries-count, #level-count {
  font-size: 3vw;
  position: relative;
  top: -1.5vw;
}

#level-number-container {
  display: flex;
  justify-content: space-between;
  width: 9vw;
}
