#level-info-container {
  position: absolute;
  top: 150px;
  left: 450px;
  font-size: 30px;
  color: rebeccapurple;
  width: 350px;
}

.base {
  display: none;
}

.start-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
