#level-info-container {
  position: absolute;
  top: 150px;
  left: 450px;
  font-size: 30px;
  color: rebeccapurple;
  width: 350px;
}

.base {
  display: none;
}

.start-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-over > button {
  font-size: 30px;
  font-family: 'Bangers', cursive;
  color: deeppink;
  width: 50%;
  border: 1px solid deeppink;
  background-color: black;
  outline: none;
  margin: 15px 0;
}
