#level-info-container {
  position: fixed;
  top: 24vh;
  left: 38vw;
  font-size: 2vw;
  color: rebeccapurple;
  width: 20vw;
}

.base {
  display: none;
}

.level1 {
  content: "Knock the triangle down to pass the level."
}

.level2 {
  content: "Good Job! Can you get past through a thicker stack?"
}

.level3 {
  content: "How about a thicker stack?"
}
