#my-info {
  position: fixed;
  display: flex;
  width: 32vw;
  justify-content: space-between;
  align-items: center;
  bottom: 0vw;
  left: 5vw;
  color: #101015;
}

#my-info > a > img {
  width: 2.3vw;
}
